<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Whydoisuck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <Whydoisuck.Properties.Settings>
            <setting name="ScanRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PercentWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>./records/</value>
            </setting>
            <setting name="IndexerFileName" serializeAs="String">
                <value>indexedLevels.wdis</value>
            </setting>
        </Whydoisuck.Properties.Settings>
    </applicationSettings>
</configuration>